body{
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.nav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 160px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: darkslateblue; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
    text-align: center;

    ul{
        list-style-type: none;
        padding: 0%;
        }
  }

  li{
    border: 1px ridge rgb(181, 249, 245);
  }

  li:hover{
    background-color: lightseagreen;
  }
  
  /* The navigation menu links */
  .nav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
  }
  
  /* When you mouse over the navigation links, change their color */
  .nav a:hover {
    color: #f1f1f1;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  .ebn{
    margin-left: 160px;
  }
  .day1{

    p{
    
        color: aliceblue;
        background-color: rgba(0, 0, 0, 0.493);
        text-shadow: 0 0 3px #000007, 0 0 5px #0000FF;


    }
    #h{
      text-shadow: 3px 3px 3px #02213e, 0 0 5px #0000FF;

    }

  }

  h1{
    text-align: center;
  }