body{
    margin: 0;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.topnav{
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #080f25;
  position: fixed;
  top: 0;
  width: 100%;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

a:hover{
  background-color: deepskyblue;
}
}


  .ebn{
    margin-top: 50px;
  }
  .day1{

    p{
    
        color: aliceblue;
        background-color: rgba(0, 0, 0, 0.493);
        text-shadow: 0 0 3px #000007, 0 0 5px #0000FF;
        margin: 3px;


    }
    #h{
      text-shadow: 3px 3px 3px #02213e, 0 0 5px #0000FF;

    }

  }

  h1{
    text-align: center;
  }